.container {
    /* display: grid;
    height: 100vh;
    grid-template-columns: 70px auto 70px;
    grid-template-rows: 80px auto 80px;
    gap: 15px 10px; */
    border: 1px solid blue;
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-rows: repeat(2, minmax(150px, max-content));
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 2vw;
    grid-auto-rows: min-content;
    justify-items: center;
}

.cards {
    /* width: 200px;
    height: 300px; */
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: 290px 30px 1fr 1fr 1fr;
    margin: 20px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}


img {
    width: 250px;
    height: 250px;
}
