
body {
    z-index: -1;
    position: relative;
}

#image-background {
    background-color: rgba(0,0,0,0.5);
    width: 100vh;
    height: 100vh;
    z-index: 10;
    position: absolute;
    top: 0;
}

#image-detail {
    z-index: 20px;
    top: 20;
}

.container {
    display: grid;
    width: 90%;
    margin: 30px auto;
    grid-template-rows: repeat(2, minmax(150px, max-content));
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 2vw;
    grid-auto-rows: min-content;
    justify-items: center;
}

.cards {
    margin: 20px;
    width: 250;
    border: 1px solid black;
    border-radius: 5px;
}


img {
    width: 250px;
    height: 250px;
}

